body{
    display: flex;
    background-color: lavender;
}

div{
    text-align: center;
    font-family: Roboto, Calibri, sans-serif;
    font-size: 24px;
}

p{
    margin: 8px;
}

.verticalBlank{
    flex: 0 1 0;
    display: flex;
    align-items: flex-end;
    margin: 20px;
}

.verticalBlank img{
    height: 350px;
    width: auto;
}

.content{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    font-size: 50px;
    color: red;
    margin-top: 24px;
    margin-bottom: 36px;
}

#message{
    white-space: pre-wrap;
    color: purple;
    margin-top: 16px;
}

.choiceContainer{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 50px;
    margin: 50px;
}

.choiceContainer img{
    width: 250px;
    height: auto;
    border-radius: 20px;
    border: 5px solid yellow;
    background-color: darkslategray;
    cursor: pointer;
}

.scoreContainer{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.scoreBox{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player{
    color: red;
    font-size: 30px;
}

.computer{
    color: blue;
    font-size: 30px;
}

#playerScore,
#computerScore{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    font-size: 44px;
}