body{
    display: flex;
}

div{
    text-align: center;
}

.verticalBlank{
    flex: 1;
}

.content{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#message{
    white-space: pre-wrap;
}

.choiceContainer{
    display:flex;
    justify-content: space-around;
}

.scoreContainer{
    display:flex;
    justify-content: space-between;
}

.scoreBox{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}